/* Write your code here. */
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  background-size: cover;
  height: 100vh;
}
.main-heading {
  font-family: "Bree Serif";
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.like-button {
  background-color: #eab308;
  color: #ffffff;
  border: 0px none;
  height: 30px;
  width: 60px;
  border-radius: 8px;
}
.comment-button {
  background-color: #ffffff;
  color: #323f4b;
  border: 0px none;
  margin-left: 8px;
  height: 30px;
  width: 100px;
  border-radius: 8px;
}
.share-button {
  background-color: #1d4ed8;
  color: #ffffff;
  border: 0px none;
  margin-left: 8px;
  height: 30px;
  width: 60px;
  border-radius: 8px;
}
